@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@400..700&family=Space+Grotesk:wght@300..700&display=swap');

.them {
    cursor: pointer;
}

hr {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    border-top: 3px solid #fb5f04;
}

.margin-tb {
    margin-bottom: 20px;
    margin-top: 20px;
}

.bag {
    background-color: #fb5f04;
}

.ha {
    color: #fb5f04;
}

#head-img {
    width: 100%;
    height: 90vh;
}

.header-title {
    position: relative;
}

body {
    background-color: #eef3f7;
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    margin: 0%;
    padding: 0;
}

.bg1 {
    position: relative;
}

.title {
    position: absolute;
    margin-top: -30%;
    margin-left: 5%;
    font-size: 45px;
    color: black;
    font-weight: 550;
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    animation: text 3s 1;
}

.title-content {
    position: relative;
}

.like-h {
    height: 25px;

}

.content {
    position: absolute;
    margin-top: -24%;
    margin-left: 7%;
    font-size: 18px;
    color: black;
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    animation: text1 3s 1;
}

.logo {
    height: 100px;
    margin-top: -70%;
    margin-left: 15%;
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;

    animation: logo 2s 1;
}

.btn-container {
    position: relative;
}

.btn-1 {
    position: absolute;
    margin-top: -250px;
    border-radius: 20px;
    margin-left: 150px;
    background-color: #fb5f04;
    border: 1px solid #fb5f04;
    padding: 6px 10px;
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    transition: .5s;
}

.btn-1:hover {
    background-color: transparent;

}

.img-card-1 {
    cursor: pointer;
    transition: 0.5s;
}

.img-card-1:hover {
    transform: translateY(-10px);
}

.like-h {
    cursor: pointer;
}

.order-btn {
    text-decoration: none;
    color: black;
    background-color: #fb5f04;
    border: 1px solid #fb5f04;
    border-radius: 10px;
    padding: 5px 10px;
    transition: .5s;
}

.order-btn:hover {
    background-color: transparent;
}

.light-them {
    background-color: #eef3f7;
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    margin: 0%;
    padding: 0;
    color: black;
}

.dark-them {
    background-color: #323232;
    color: #fff;
}
.r-bag{
    background-color: rgba(198, 196, 196, 0.213);
}
.about-logo{
    margin-left: 35%;
    margin-top: 10%;
    margin-bottom: 20%;
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap; 
    flex-wrap: wrap;
    padding: 0 4px;
  }
  

  .column {
    -ms-flex: 25%; 
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  .gallery-image{
    width: 100%;
    cursor: pointer;
    transition: .7s;
  }
  .gallery-image:hover{
    width: 50%;
    opacity: .8;
  }

  .shop-footer {
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    font-size: 15px;
    padding: 50px;
}

.footer-sec {
    width: 400px;
    margin: 10px 10px;
    border-right: 2px solid #fb5f04;
}

.footer-sec-title {
    font-size: 18px;
    font-weight: bold;
}

.footer-data {
    margin-left: 20px;
}
  @media screen and (max-width: 800px) {
    .column {
      -ms-flex: 50%;
      flex: 50%;
      max-width: 50%;
    }
  }

  @media screen and (max-width: 600px) {
    .column {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
    }
  }
@keyframes logo {
    0% {
        opacity: 0;
        margin-bottom: -180%;
    }

    30% {
        opacity: .5;
        margin-bottom: -175%;
    }

    85% {
        opacity: 1;
        margin-bottom: -170%;
    }
}

@keyframes text {
    0% {
        color: transparent;
        margin-left: -5%;
    }

    30% {
        letter-spacing: 4px;
        margin-left: 2%;
    }

    85% {

        margin-left: 5%;
    }
}

@keyframes text1 {
    0% {
        color: transparent;
        margin-left: -10%;
    }

    30% {
        margin-bottom: -10%;
    }

    85% {
        margin-bottom: -10%;
    }
}