@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@400..700&family=Space+Grotesk:wght@300..700&display=swap');

.them {
    cursor: pointer;
}

hr {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    border-top: 3px solid #fb5f04;
}

.margin-tb {
    margin-bottom: 20px;
    margin-top: 20px;
}

.bag {
    background-color: #fb5f04;
}

.ha {
    color: #fb5f04;
}

#head-img {
    width: 100%;
    height: 90vh;
}

.header-title {
    position: relative;
}

body {
    background-color: #eef3f7;
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    margin: 0%;
    padding: 0;
}

.bg1 {
    position: relative;
}

.title {
    position: absolute;
    margin-top: -30%;
    margin-left: 5%;
    font-size: 45px;
    color: black;
    font-weight: 550;
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    animation: text 3s 1;
}

.title-content {
    position: relative;
}

.like-h {
    height: 25px;

}

.content {
    position: absolute;
    margin-top: -24%;
    margin-left: 7%;
    font-size: 18px;
    color: black;
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    animation: text1 3s 1;
}

.logo {
    height: 100px;
    margin-top: -70%;
    margin-left: 15%;
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;

    animation: logo 2s 1;
}

.btn-container {
    position: relative;
}

.btn-1 {
    position: absolute;
    margin-top: -250px;
    border-radius: 20px;
    margin-left: 150px;
    background-color: #fb5f04;
    border: 1px solid #fb5f04;
    padding: 6px 10px;
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    transition: .5s;
}

.btn-1:hover {
    background-color: transparent;

}

.img-card-1 {
    cursor: pointer;
    transition: 0.5s;
}

.img-card-1:hover {
    transform: translateY(-10px);
}

.like-h {
    cursor: pointer;
}

.order-btn {
    text-decoration: none;
    color: black;
    background-color: #fb5f04;
    border: 1px solid #fb5f04;
    border-radius: 10px;
    padding: 5px 10px;
    transition: .5s;
}

.order-btn:hover {
    background-color: transparent;
}

.light-them {
    background-color: #eef3f7;
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    margin: 0%;
    padding: 0;
    color: black;
}

.dark-them {
    background-color: #323232;
    color: #fff;
}

@keyframes logo {
    0% {
        opacity: 0;
        margin-bottom: -180%;
    }

    30% {
        opacity: .5;
        margin-bottom: -175%;
    }

    85% {
        opacity: 1;
        margin-bottom: -170%;
    }
}

@keyframes text {
    0% {
        color: transparent;
        margin-left: -5%;
    }

    30% {
        letter-spacing: 4px;
        margin-left: 2%;
    }

    85% {

        margin-left: 5%;
    }
}

@keyframes text1 {
    0% {
        color: transparent;
        margin-left: -10%;
    }

    30% {
        margin-bottom: -10%;
    }

    85% {
        margin-bottom: -10%;
    }
}